body {
    margin: 0;
}
table {
    margin: 0 auto;
    width:600px;
    height:100%;
    border-collapse: collapse;
}
thead {
    border-collapse: separate;
    background: black;
}
th {
    color: white;
    height:100px;
}
tr {
    border: 1px solid;
}
td:nth-child(2){
    text-align: right;
}